
@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-red-500: #ef4444;
  --color-red-600: #dc2626;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

body.gradient-bg {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-start-rgb))
  )
  rgb(var(--background-end-rgb));
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s both;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}
